custom_table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: solid !important;
}

.custom_table .bordered_cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.custom_table th {
    background-color: #f2f2f2;
}
.graph{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.maincsss{
    border: solid !important;
    width: 50vw !important;
    height: 70% !important;
}